.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.departmentTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}